<div class="app-container">

  <!-- Material Header -->
  <mat-toolbar color="primary">

    <span class="logo">Clean Architecture Blog</span>

    <span class="spacer"></span>

    <nav>
      <button mat-button routerLink="/" routerLinkActive="active">
        Home
      </button>

      <button mat-button routerLink="/create">
        Create Blog
      </button>
    </nav>

  </mat-toolbar>


  <!-- Main Content -->
  <main class="app-content">

    <app-alert></app-alert>

    <router-outlet></router-outlet>

  </main>


  <!-- Footer -->
  <mat-toolbar color="accent" class="footer">

    © 2026 Clean Architecture Blog

  </mat-toolbar>

</div>