<div class="create-blog-container">

  <mat-card class="create-blog-card">

    <h2>Create Blog</h2>

    <form (ngSubmit)="submit()" #createForm="ngForm">

      <!-- Blog Title -->
      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Blog Title</mat-label>

        <input
          matInput
          [(ngModel)]="blog.name"
          name="name"
          placeholder="Enter blog title"
          required
        />

        <mat-error *ngIf="createForm.controls['name']?.invalid">
          Blog title is required
        </mat-error>

      </mat-form-field>


      <!-- Description -->
      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Description</mat-label>

        <textarea
          matInput
          rows="4"
          [(ngModel)]="blog.description"
          name="description"
          placeholder="Enter blog description"
          required
        ></textarea>

        <mat-error *ngIf="createForm.controls['description']?.invalid">
          Description is required
        </mat-error>

      </mat-form-field>


      <!-- Author -->
      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Author</mat-label>

        <input
          matInput
          [(ngModel)]="blog.author"
          name="author"
          placeholder="Author name"
          required
        />

        <mat-error *ngIf="createForm.controls['author']?.invalid">
          Author is required
        </mat-error>

      </mat-form-field>


      <!-- Image URL -->
      <mat-form-field appearance="outline" class="full-width">

        <mat-label>Image URL</mat-label>

        <input
          matInput
          [(ngModel)]="blog.imageUrl"
          name="imageUrl"
          placeholder="https://example.com/image.jpg"
          required
        />

        <mat-error *ngIf="createForm.controls['imageUrl']?.invalid">
          Image URL is required
        </mat-error>

      </mat-form-field>


      <!-- Backend validation message -->
      <div class="field-error" *ngIf="imageUrlError">
        {{ imageUrlError }}
      </div>


      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="createForm.invalid || loading"
      >
        {{ loading ? 'Creating...' : 'Create Blog' }}
      </button>

    </form>

  </mat-card>

</div>