<div class="blog-list-container">

  <!-- Header -->
  <div class="header">

    <h2>Blog List</h2>

    <button
      mat-raised-button
      color="primary"
      routerLink="/create"
    >
      <mat-icon>add</mat-icon>
      Create Blog
    </button>

  </div>


  <!-- Blog Grid -->
  <div class="blog-grid">

    <mat-card class="blog-card" *ngFor="let blog of blogs">

      <!-- Blog Image -->
      <img
        mat-card-image
        *ngIf="blog.imageUrl"
        [src]="blog.imageUrl"
        alt="Blog image"
      />

      <!-- Blog Content -->
      <mat-card-content>

        <h3 class="blog-title">
          {{ blog.name }}
        </h3>

        <p class="description">
          {{ blog.description }}
        </p>

        <p class="author">
          <strong>Author:</strong> {{ blog.author }}
        </p>

      </mat-card-content>


      <!-- Action Buttons -->
      <mat-card-actions>

        <button
          mat-stroked-button
          color="primary"
          [routerLink]="['/edit', blog.id]"
        >
          <mat-icon>edit</mat-icon>
          Edit
        </button>

        <button
          mat-stroked-button
          color="warn"
          (click)="delete(blog.id!)"
        >
          <mat-icon>delete</mat-icon>
          Delete
        </button>

      </mat-card-actions>

    </mat-card>

  </div>

</div>